@font-face {
    font-family: ap;
    src: url(../fonts/AP.ttf);
}

body {
    margin-right: auto;
    margin-left : auto;
    text-align: center;
    
    /* margin: 1vh 1vw; */
    height: 98vh;
    width: min(98vw, 600px);
    padding: 0%;
}

div {
    margin: 0px;
}

label {
    font-family: ap;
    font-size: min(10vw, 60px);
    color: #644;
    display: block;
    text-align: center;
}

button {
    font-family: ap;
}

#top-space {
    height: 10%;
}

#message {
    height: 10%;
    /* font-size: min(10vw, 10vh); */
}

#image-area {
    text-align: center;
    height: 30%;
}

#image {
    width: auto;
    height: 100%;
}

#button-area {
    margin-top: 3%;
    text-align: center;
    height: 30%;
    width: 100%;
}

#to-title-area {
    margin-top: 3%;
    height: 10%;
    text-align: center;
}

#to-title {
    height: 100%;
    font-size: min(10vw, 60px);
    width: 80%;
}

.cute-button {
    font-family: ap;
    font-size: min(8vw, 48px);
    padding: 2%;
    margin: min(1.5vw, 9px);
    display: inline-block;
    color: #fff;
    border: #ffffff dashed 1px;
    box-shadow: 0 0 0 min(1vw, 6px) #996666;
    border-radius: min(1vw, 6px);
    background-color: #996666;
    cursor: pointer;
}
.cute-button:active {
    box-shadow: 0 0 0 min(1vw, 6px) #cc8888;
    background-color: #cc8888;
}

.cute-button.option {
    box-shadow: 0 0 0 min(1vw, 6px) #3355ff;
    background-color: #3355ff;
    font-size: min(5vw, 30px);
    padding: min(1vw, 6px);
    height: 20%;
}

.cute-button.option:active {
    box-shadow: 0 0 0 min(1vw, 6px) #5588ff;
    background-color: #5588ff;
}
.cute-button.option.unit {
    width: 30%;
}
.cute-button.option.calc {
    width: 16%;
}
.cute-button.option.special {
    width: 24%;
}

.disp-label {
    background-color: mistyrose;
    color: steelblue;
    display: inline-block;
    margin: min(0.5vw, 3px);
    vertical-align: -22%;
    width: 40%;
    height: 20%;
}
