@font-face {
    font-family: ap;
    src: url(../fonts/AP.ttf);
}

body {
    margin: 1vh 1vw;
    height: 98vh;
    width: 98vw;
    padding: 0%;
}

div {
    margin: 0px;
}

label {
    font-family: ap;
    font-size: 10vw;
    color: #644;
    display: block;
    text-align: center;
}

button {
    font-family: ap;
}

#top-space {
    height: 10%;
}

#message {
    height: 10%;
    font-size: min(10vw, 10vh);
}

#image-area {
    text-align: center;
    height: 30%;
}

#image {
    width: auto;
    height: 100%;
}

#button-area {
    margin-top: 3vh;
    text-align: center;
    height: 30%;
    width: 100%;
}

#to-title-area {
    margin-top: 3%;
    height: 10%;
    text-align: center;
}

#to-title {
    height: 100%;
    font-size: 10vw;
    width: 80%;
}

.cute-button {
    font-family: ap;
    font-size: 8vw;
    padding: 2vw;
    margin: 1.5vw;
    display: inline-block;
    color: #fff;
    border: #ffffff dashed 1px;
    box-shadow: 0 0 0 1vw #996666;
    border-radius: 1vw;
    background-color: #996666;
    cursor: pointer;
}
.cute-button:active {
    box-shadow: 0 0 0 1vw #cc8888;
    background-color: #cc8888;
}

.cute-button.option {
    box-shadow: 0 0 0 1vw #3355ff;
    background-color: #3355ff;
    font-size: min(5vw, 4vh);
    padding: 1vw;
    height: 20%;
}

.cute-button.option:active {
    box-shadow: 0 0 0 1vw #5588ff;
    background-color: #5588ff;
}
.cute-button.option.unit {
    width: 30%;
}
.cute-button.option.calc {
    width: 16%;
}
