@font-face {
  font-family: ap;
  src: url(C:/Users/tomo/Desktop/tech/web/web-learning/fonts/AP.ttf);
}

.wrap-layer {
  width: 100%;
  height: 100px;
  /* margin: 0 auto; */
  display: block;
  position: relative;
}

.wrap-layer > canvas {
  position: absolute;
}

.wrap-layer > button {
  position: absolute;
}

#canvas-quiz {
    border: 1px solid black;
}

#canvas-info {
    border: 1px solid green;;
}